/*############ CSS VARIABLES ###########*/
:root {
    --color-bg: #FFC93C;
    --color-font: #e25a28;
    --color-h1: #155263;
    --color-navbar: #FFC93C;
    --transition: all 400ms ease;
}

/*############ NAVBAR SECTION ###########*/

.body-index {
    font-family: 'Titillium Web', sans-serif;
}

.my-nav-bar {
    background-color: var(--color-navbar);
    margin: 0;
    padding: 0;
}

.navbar-brand {
    height: 55px;
}

/*############ NAVBAR ICON ###########*/
.navbar-item img {
   max-height: 55px;
} 

.navbar-item img:hover {
    transform: scale(1.2);
 } 

.navbar-burger {
    height: none;
}

/*############ HEADER IMAGE SECTION ###########*/
.header-image {
    background-image: url(../Images/formula1-car.jpg);
    width: 100%;
    height: 55em;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.header-image h1 {
    padding-top: 8%;
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    color: var(--color-h1);
}

/*############ HOW TO USE THIS PAGE SECTION ###########*/
.background-yellow {
    background-color: var(--color-bg);
}

.h1 {
    color: var(--color-h1);
}

.section {
    padding-bottom: 0px;
}

ul {
    list-style-type:circle;
    padding-left: 2.5rem;
  }

li {
    padding-top: 5px;
    padding-bottom: 5px
} 

/* User Selection Section */
.dropdown-menu {
    position: inherit;
}

/*############ ABOUT US PAGE ###########*/
.body-about-us {
    background-color: rgba(34, 30, 30, 0.116);
    min-height:100vh;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.text-center {
    text-align: center;
}

.h2 {
    font-size: 21px;
    font-weight: 550;
}

.about-us a {
    font-size: 21px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white
}

.columns {
    line-height: 150%;
    margin-top: 25px;
}

body {
    line-height: 0;
}
  
div.clip-path-container {
    display: inline-block;
    position: relative;
    height: 215px;
    width: 215px;
    margin: 15px ;
    padding: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;  
    border-radius: 50%;
    border-collapse: separate; 
    background-color: #222;
}
  
.clip-path-container:focus,
.clip-path-container:active,
.clip-path-container:hover {
    border-radius: 50%;
    outline: none;
    transform: scale(1.1);
} 
  
.bio {
    height: 215px;
    width: 215px;
    background-size: cover;
    transition: all .2s ease-in-out; 
    outline: none;
    transform: scale(1.1);
    overflow: hidden;  
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}
  
  
.clip-path-container:hover .bio {
    clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);    
}
  
.clip-path-container:hover .description-holder { 
    left: 20px;
    opacity: 1;
}
  
.description-holder {
    position: absolute;
    top: 35px;
    height: 300px;
    width: 250px;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    opacity: 0;
    text-align: center;
}
  
.description-holder p {
    font-size: 12px;
    margin-top: 25px;
    max-width: 170px;
    text-transform: none;
    color: aliceblue;
}

.espinosa {
    background-image: url('https://avatars.githubusercontent.com/u/105081149?v=4');
    background-position: 50% 90%;
}
  
.besnier {
    background-image: url('https://avatars.githubusercontent.com/u/96966964?v=4');
    background-position: 50% 90%;
}
  
.torres {
    background-image: url('https://avatars.githubusercontent.com/u/71146674?v=4');
    background-position: 50% 90%;
}


/*############ CURRENT STANDINGS TABLE ###########*/
.body-live {
    min-height:100vh;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.header-table {
    height: 55px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 21px;
    border-radius: 25px;
    background-color: rgba(57, 55, 55, 0.208);
    margin-bottom: 21px;
}

.table th, .table td {
    height: 27px; 
    border: none;
    margin-top: 45px;
    background-color: rgba(220, 217, 217, 0.208);
}

.table tr:hover {
    background-color: rgba(116, 114, 114, 0.708);
    color: white;
}

/* User Selection */
.my-columns {
    text-align: center;
}

.my-ul {
    list-style-type:none;
}

.my-button:hover {
    transition: var(--transition);
    background-color: var(--color-font);
}

/* Responsiveness */
@media (max-width: 700px){ 
    .h1 {
        color: var(--color-h1);
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    ul {
        list-style-type:none;
        padding-left: 0rem;
        text-align: center;
    }

    /* Dropdown */
    .my-select{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .select:not(.is-multiple):not(.is-loading)::after {
        right: 2em
    }

    .navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
        position: inherit;
        top: 0px;
    }

    /* button for the user selection */
    .my-button {
        left: 35%;
    }

    .my-image {
        margin: auto;
        display: block;
    }
}
  


/* SlideShow */
.mySlides {
    display:none;
    width:100%;
}

.w3-content {
    max-width:300px;
    margin-left: auto;
    margin-right: auto; 
}


.w3-left, .w3-right, .w3-badge {
    cursor:pointer
}
 
